$linkFont:"Glass Antiqua", cursive;

$linkColor:#fff;
$linkBgColor:rgba(110, 5, 96, 0.24);
$colorMain:rgb(128, 7, 111);
$linkBgColorTwo:rgba(128, 7, 112, 0.877);
$colorPink:#f72bc4;

$contentCenter:center;

$radius:25px;